@model TaxListViewModel

@{
    ViewData["Title"] = "Taxes";
}

<div class="flex justify-between mb-3">
    <h1>Taxes</h1>
    <a class="btn-primary" asp-action="Create" asp-controller="Taxes" asp-area="ReceiptManagement">Add</a>
</div>

<div class="flex flex-col gap-2">
    @foreach (var tax in Model.Taxes)
    {
        <div class="p-3 rounded-lg border border-border flex flex-col justify-between gap-1">
            <div class="flex justify-between">
                <span class="font-bold">@tax.Name</span>
                <span class="font-bold">@tax.Rate.ToString("P3")</span>
            </div>
            <div class="text-muted">@tax.Description</div>
            <div class="flex justify-end">
                <a asp-action="Delete" asp-controller="Taxes" asp-area="ReceiptManagement" asp-route-id="@tax.Id"><i class="btn-icon fa fa-trash"></i></a>
            </div>
        </div>
    }
</div>