@inject IStringLocalizer<SharedResource> Loc

@{
    ViewData["Title"] = Loc["Home"];
}

<div class="flex justify-end mb-3">
    <partial name="_LanguageSelectPartial" />
</div>

<h1 class="mb-3">@Loc["Apps"]</h1>

<div class="flex flex-wrap items-baseline gap-3">
    <div class="border border-1 border-border rounded-lg p-3 w-full h-auto lg:w-150 lg:h-70 flex flex-col gap-3 shadow-xs">
        <h2>@Loc["Facturio_Title"]</h2>
        <p class="h-full text-muted">@Loc["Facturio_Description"]</p>
        <div class="flex justify-end">
            <a class="btn-icon" role="link" asp-action="Index" asp-controller="Home" asp-area="Facturio">
                <i class="fa fa-arrow-right-long"></i>
            </a>
        </div>
    </div>
</div>
