@model StoreCategoryCreateViewModel

@{
    ViewData["Title"] = "New Store Category";
}

<div class="p-4">
    <div class="mb-3">
        <h1>New Store Category</h1>
    </div>

    <form asp-action="Create" asp-antiforgery="true">
        <div class="flex flex-col gap-4">
            <div class="w-70">
                <label asp-for="Name">Name*</label>
                <input asp-for="Name" autocomplete="off" placeholder="Example: Groceries" />
                <span class="input-error" asp-validation-for="Name"></span>
                <span class="input-helper-text">Enter a unique name for the store category. It will later be available for use to categorize stores.</span>
            </div>
            <div class="flex gap-2">
                <button type="submit" class="btn-primary">Add</button>
                <a role="link" asp-action="Index" asp-controller="StoreCategories" asp-area="ReceiptManagement" class="btn-secondary">Cancel</a>
            </div>
        </div>
     
    </form>
</div>


