@model StoreCategoryViewModel

@{
    ViewData["Title"] = "Delete Store Category";
}

<div class="p-4">
    <div class="mb-3">
        <h1>Delete Store Category</h1>
    </div>

    <div class="bg-accent-light text-accent border border-accent rounded-lg shadow-sm p-3 mb-3">
        <p class="mb-3">Are you sure you wish to delete the store category named "@Model.Name"?</p>
        <p>Data related to it will be kept to maintain data integrity, but will be hidden, therefore no longer accessible.</p>
    </div>

    <form asp-action="ConfirmDelete" asp-controller="StoreCategories" asp-area="ReceiptManagement" asp-route-id="@Model.Id" asp-antiforgery="true" method="post">
        <div class="flex gap-2">
            <button class="btn-primary" type="submit">Yes, I'm sure</button>
            <a class="btn-secondary" asp-action="Index" asp-controller="StoreCategories" asp-area="ReceiptManagement">No, nevermind</a>
        </div>
    </form>
</div>
