@model StoreCategoryListViewModel

@{
    ViewData["Title"] = "Store Categories";
}

<div class="p-4">
    <div class="flex flex-row justify-between items-center w-full mb-3">
        <h1>Store Categories</h1>
        <a class="btn-primary" asp-action="Create" asp-controller="StoreCategories" asp-area="ReceiptManagement">Add</a>
    </div>

    <div class="flex flex-wrap gap-2">
        @foreach (var storeCategory in Model.StoreCategories)
        {
            <div class="p-4 w-full items-center rounded-lg border border-border flex justify-between">
                <span class="font-bold">@storeCategory.Name</span>
                <a asp-action="Delete" asp-controller="StoreCategories" asp-area="ReceiptManagement" asp-route-id="@storeCategory.Id"><i class="btn-icon fa fa-trash"></i></a>
            </div>
        }
    </div>
</div>