@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div x-data="{ menuOpen: false }" class="h-full w-full">
    <div x-show="menuOpen" class="fixed top-16 w-full bg-dark text-light z-49 p-3 flex flex-col justify-baseline items-center gap-8">
        <a asp-action="Index" asp-controller="Products" asp-area="ReceiptManagement" class="flex items-center gap-2">
            <i class="fa-solid fa-money-bill text-2xl"></i>
            <span class="text-lg">Taxes</span>
        </a>
        <a asp-action="Index" asp-controller="Products" asp-area="ReceiptManagement" class="flex items-center gap-2">
            <i class="fa-solid fa-people-group text-2xl"></i>
            <span class="text-lg">People</span>
        </a>
        <a asp-action="Index" asp-controller="Products" asp-area="ReceiptManagement" class="flex items-center gap-2">
            <i class="fa-solid fa-boxes-stacked text-2xl"></i>
            <span class="text-lg">Products</span>
        </a>
        <a asp-action="Index" asp-controller="Stores" asp-area="ReceiptManagement" class="flex items-center gap-2">
            <i class="fa-solid fa-store text-2xl"></i>
            <span class="text-lg">Stores</span>
        </a>
        <a asp-action="Index" asp-controller="StoreCategories" asp-area="ReceiptManagement" class="flex items-center gap-2">
            <i class="fa-solid fa-tag text-2xl"></i>
            <span class="text-lg">Store Categories</span>
        </a>
        <button class="btn-light text-center" x-on:click="menuOpen = false">Close</button>
    </div>

    <div class="mb-16">
        @RenderBody()
    </div>

    <div class="fixed bottom-0 w-full h-16 z-50 flex justify-center">
        <nav class="w-full px-12 bg-dark flex justify-around items-center text-light text-center gap-4">
            <a asp-action="Index" asp-controller="Home" asp-area="ReceiptManagement" class="flex flex-col gap-2">
                <i class="fa-solid fa-home text-xl"></i>
                <span class="text-xs">Home</span>
            </a>
            <a asp-action="Index" asp-controller="Receipts" asp-area="ReceiptManagement" class="flex flex-col gap-2">
                <i class="fa-solid fa-receipt text-xl"></i>
                <span class="text-xs">Receipts</span>
            </a>
            <div x-on:click="menuOpen = true" class="flex flex-col cursor-pointer gap-2">
                <i class="fa-solid fa-ellipsis text-xl"></i>
                <span class="text-xs">More</span>
            </div>
        </nav>
    </div>
</div>