@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav>
    <ul>
        <li>
            <a asp-controller="StoreCategories" asp-action="Index">Store Categories</a>
        </li>
    </ul>
</nav>

@RenderBody()