@model PersonCreateViewModel

@{
    ViewData["Title"] = "New Person";
}

<div class="p-4">
    <div class="mb-3">
        <h1>New Person</h1>
    </div>

    <form asp-action="Create" asp-controller="People" asp-area="ReceiptManagement" asp-antiforgery="true">
        <div class="flex flex-col gap-4">
            <div class="w-70">
                <label asp-for="Name">Name*</label>
                <input asp-for="Name" autocomplete="off" placeholder="e.g. John Doe" />
                <span class="input-error" asp-validation-for="Name"></span>
                <span class="input-helper-text">Enter a unique name for the person. They will later be available in receipts.</span>
            </div>
            <div class="flex gap-2">
                <button type="submit" class="btn-primary">Add</button>
                <a role="link" asp-action="Index" asp-controller="People" asp-area="ReceiptManagement" class="btn-secondary">Cancel</a>
            </div>
        </div>
     
    </form>
</div>


