@model StoreListViewModel

@{
    ViewData["Title"] = "Stores";
}

<div class="flex justify-between items-center mb-3">
    <h1>Stores</h1>
    <a class="btn-primary" asp-action="Create" asp-controller="Stores" asp-area="ReceiptManagement">Add</a>
</div>

<div class="flex flex-col gap-2">
    @foreach (var store in Model.Stores)
    {
        <div class="p-3 rounded-lg border border-border flex flex-col justify-between gap-1">
            <div class="flex justify-between">
                <span class="font-bold">@store.Name</span>
            </div>
            <span class="text-muted">@store.StoreCategoryName</span>
            <div class="flex justify-end">
                <a asp-action="Delete" asp-controller="Stores" asp-area="ReceiptManagement" asp-route-id="@store.Id"><i class="btn-icon fa fa-trash"></i></a>
            </div>
        </div>
    }
</div>